
body{
    /*This sets the CSS for all body objects within the index file. https://www.w3schools.com/cssref/*/
    background-color:lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6em;
    /*Set spaces around it to none or 0 to remove gaps.*/
    margin: 0;

}

.container{
    /*set margin to auto to set equal on all sides and % for width so it adapts on different size devices*/
    width: 80%;
    margin: auto;
}

.section-1{
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    /*Same as above*/

    border: 5px red solid;
    

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

/*Same as above*/

    padding: 20px;

/*Sets margin for top and bottom but 0 for right and left. */
    margin: 20px 0;

}

.section-1{
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}